[Unit]
Description=Disable turbo feature on intel processors
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=sleep 5
ExecStart=/bin/bash -c 'echo 1 > /sys/devices/system/cpu/intel_pstate/no_turbo'

[Install]
WantedBy=multi-user.target
